.button-yellow {
  background: #FFBA00;
  padding: 15px 20px;
  border-radius: 4px;
  color: rgb(240, 240, 240);
  font-family: 'Roboto', sans-serif;
}

.button-yellow:hover {
  font-weight: bold;
}
